* {
  box-sizing: content-box;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin: 0px;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.5rem;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

.top-header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.top-header-logo {
  flex-grow: 1;
}

.logo {
  background: #d8d8d8;
  padding: 5px 30px;
  color: black;
  text-decoration: none;
}

.top-header nav a {
  color: black;
  text-decoration: none;
  padding: 0 5px;
}

main {
  display: flex;
  flex-flow: column;
}

section:nth-of-type(odd) {
  background: #f8f8f8;
}

.main-header {
  display: flex;
  background-image: url(https://via.placeholder.com/1024x600.png);
  background-size: cover;
  background-position: center center;
  flex-basis: 600px;
  align-items: center;
  justify-content: center;
}

.main-header h1,
.main-header p {
  margin: 0px;
}

.main-header-content {
  display: flex;
  flex-flow: column;
  flex-basis: 50%;
  justify-content: center;
  text-align: center;
}

.main-section {
  display: flex;
  justify-content: center;
}

.main-container {
  max-width: 1200px;
  padding: 10vh 10px;
}

.main-container h2 {
  text-align: center;
}

.main-article {
  margin: 1rem auto;
  display: flex;
}

.main-article:nth-of-type(even) {
  flex-flow: row-reverse;
}

.main-article img,
.article-text {
  flex: 1 1 50%;
  padding: 10px;
}

.main-article img {
  max-width: 100%;
  object-fit: cover;
}

.article-text {
  text-align: center;
  align-self: center;
}

.small-images-container img {
  flex-basis: 170px;
  margin: 12px;
  object-fit: contain;
}

.small-images-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: -12px;
}

.images {
  text-align: center;
}

.main-section-grid {
  display: grid;
  justify-content: center;
}

.medium-images-article {
  height: 400px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10vw;
}

.medium-images-article-text {
  align-self: center;
  justify-self: center;
}

.medium-images-article-images {
  display: grid;
  grid-template-rows: 1fr 1fr;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.image-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.image-wrapper img {
  display: block;
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.medium-images-article-images .image-wrapper:nth-child(3) {
  grid-row: span 2;
}

.medium-images-article-images .image-wrapper:nth-child(4) {
  grid-column: span 2;
}

.last-article-grid {
  display: grid;
}

.last-article {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8vw;
  min-height: 600px;
}

/* place-self: center center; */

.last-article-text {
  align-self: center;
  max-width: 40ch;
}

.bottom-images {
  display: grid;
  height: 400px;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.images-left {
  display: grid;
  /* grid-row: 2 / 6;
  grid-column: 2 / 3; */
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  grid-auto-flow: column;
}

.images-left .image-wrapper:first-child {
  grid-row: span 2;
}

.images-left .image-wrapper:nth-of-type(4) {
  grid-row: span 2;
}

.bottom-images-text {
  justify-self: center;
  align-self: center;
  margin: 0px -4em;
  padding: 4em;
  z-index: 1;
  background: white;
}

.images-right {
  display: grid;
  /* grid-row: 2 / 6;
  grid-column: 4 / 5; */
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  grid-auto-flow: column;
}

.images-right .image-wrapper:nth-of-type(2) {
  grid-row: span 2;
}

.images-right .image-wrapper:nth-of-type(3) {
  grid-row: span 2;
}

.footer {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 300px;
  height: 300px;
  text-align: center;
  background: #bdbdbd;
}

.footer-nav a {
  color: black;
  text-decoration: none;
  padding: 0 5px;
}
